/* GLOW EFFECT */
.modern-card::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, rgba(99, 102, 241, 0.4), transparent);
    top: -50px;
    left: -50px;
    opacity: 0;
    transition: 0.4s;
}

.modern-card:hover::before {
    opacity: 1;
}

/* HOVER CARD */
.modern-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(99, 102, 241, 0.2);
}
