// =============================
// PROJECT DETAIL
// =============================
.project-detail {
    margin-top: 15px;

    p {
        color: $project-text-secondary;
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 10px;
    }
}