.project-tag {

    display: inline-block;

    font-size: 10px;

    padding: 5px 10px;

    border-radius: 30px;

    background: rgba(99, 102, 241, 0.12);

    color: #818cf8;

    margin-right: 6px;

    margin-bottom: 10px;

    font-weight: 600;
}   