// =============================
// PROJECT GRID
// =============================
.projects-section {
    padding: 70px 0;
    background: $project-bg-dark;
}

.projects-section .container {

    max-width: 1500px;
}

.project-grid {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 22px;
}