/* TOPBAR FIXED */
.portfolio-topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #020617;
    color: #94a3b8;
    font-size: 13px;
    padding: 6px 0;
    z-index: 1000; /* higher than navbar */
}

/* SPACING INSIDE */
.top-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* LINKS */
.top-link {
    color: #94a3b8;
    margin-right: 10px;
    font-size: 13px;
    transition: 0.3s;
    text-decoration: none;
}

.top-link:hover {
    color: #6366f1;
}

/* DIVIDER */
.divider {
    margin: 0 8px;
    color: #334155;
}

/* RIGHT SIDE */
.top-social {
    display: flex;
    align-items: center;
}

/* ICONS */
.social-icon {
    color: #94a3b8;
    margin-left: 10px;
    transition: 0.3s;
}

.social-icon:hover {
    color: #6366f1;
}
