.project-card {
    background: rgba(15, 23, 42, 0.95);

    border-radius: 18px;

    height: 100%;

    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    backdrop-filter: blur(10px);

    transition: all .4s ease;

    border: 1px solid rgba(255, 255, 255, .05);

    &::before {

        content: "";

        position: absolute;

        inset: 0;

        border-radius: 18px;

        padding: 1px;

        background: linear-gradient(135deg,
                #6366f1,
                #06b6d4,
                #8b5cf6);

        -webkit-mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);

        -webkit-mask-composite: xor;
        mask-composite: exclude;

        opacity: .5;
    }

    &.highlight {

        background:
            linear-gradient(145deg,
                rgba(99, 102, 241, .15),
                rgba(15, 23, 42, .95));

        border-color: rgba(99, 102, 241, .3);
    }
}
