.project-content {

    h4 {

        font-size: 20px;

        font-weight: 700;

        margin-bottom: 10px;

        color: #fff;
    }

    p {

        font-size: 14px;

        line-height: 1.7;

        color: #94a3b8;

        display: -webkit-box;

        -webkit-line-clamp: 3;

        -webkit-box-orient: vertical;

        overflow: hidden;

        text-overflow: ellipsis;

        margin-bottom: 14px;

        min-height: auto;
    }
}

.tech {

    margin-top: auto;

    font-size: 13px;

    line-height: 1.7;

    color: #818cf8;
}