.xt-exp {
    padding: 25px 0;
    background: linear-gradient(135deg, #020617, #0f172a);

    &-title {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
    }

    &-subtitle {
        color: #94a3b8;
    }
}