.xt-exp {
    &-timeline {
        position: relative;
        margin-top: 50px;

        &::before {
            content: "";
            position: absolute;
            left: 20px;
            top: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(#6366f1, transparent);
        }
    }

    &-item {
        position: relative;
        padding-left: 60px;
        margin-bottom: 40px;

        opacity: 0;
        transform: translateY(40px);
        transition: 0.6s;
    }

    &-dot {
        position: absolute;
        left: 12px;
        top: 5px;
        width: 16px;
        height: 16px;
        background: #6366f1;
        border-radius: 50%;
        box-shadow: 0 0 10px #6366f1;
    }
}   