@media (max-width: 991px) {

    .education-hero h1 {
        font-size: 38px;
    }

    .education-intro-card,
    .education-card,
    .edu-small-card {
        padding: 25px;
    }

    .education-highlight {
        margin-top: 25px;
    }

    .github-profile-btn {
        margin-top: 20px;
    }

    .github-info-card,
    .github-image-card {
        padding: 20px;
    }
}