.contact-hero {
    height: 420px;

    background:
        radial-gradient(circle at top left,
            #1e293b 0%,
            #0f172a 45%,
            #020617 100%);

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    text-align: center;
}

/* GLOW */
.contact-hero::before {
    content: "";

    position: absolute;

    width: 700px;
    height: 700px;

    background:
        radial-gradient(circle,
            rgba(99, 102, 241, 0.15),
            transparent 70%);

    filter: blur(60px);
}

.contact-hero h1 {
    font-size: 62px;

    font-weight: 800;

    color: white;

    margin-bottom: 18px;

    position: relative;
    z-index: 2;
}

.contact-hero p {
    color: #94a3b8;

    font-size: 18px;

    position: relative;
    z-index: 2;
}