.bar {
    height: 6px;
    background: $bg-dark;
    border-radius: 10px;
    overflow: hidden;

    div {
        height: 100%;
        width: 0;
        border-radius: 10px;
        background: linear-gradient(90deg, $primary, $secondary);
        transition: width 1.5s ease;
    }
}