.navbar-toggle {

    display: none;

    width: 46px;
    height: 46px;

    border: none;
    background: transparent;

    flex-direction: column;
    justify-content: center;

    gap: 5px;

    cursor: pointer;

    span {

        display: block;

        width: 24px;
        height: 2px;

        background: var(--white-color);

        border-radius: 20px;

        transition: .3s;
    }

    &:focus {

        outline: none;
        box-shadow: none;
    }
}