.portfolio-topbar {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;

    height: var(--topbar-height);

    display: flex;
    align-items: center;

    background: var(--topbar-bg);

    backdrop-filter: blur(12px);

    z-index: 1100;

    box-shadow:
        0 2px 6px rgba(0, 0, 0, .2);

    .topbar-inner {

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .top-info {

        display: flex;
        align-items: center;

        gap: 16px;
    }

    .top-link {

        display: flex;
        align-items: center;

        gap: 6px;

        color: var(--white-color);

        text-decoration: none;

        font-size: 13px;
        font-weight: 500;

        transition: .3s;

        &:hover {

            color: var(--primary-color);
        }

        i {

            color: var(--primary-color);
        }
    }

    .top-social {

        display: flex;
        align-items: center;

        gap: 10px;
    }
}