// =============================
// EXTRA SECTION
// =============================
@use 'about-page-variables' as *;
.about-extra {
    margin-top: 70px;
}

.about-card {
    @include card;
    text-align: center;

    h5 {
        color: $about-page-text-primary;
        margin-bottom: 10px;
        font-weight: 600;
    }

    p {
        color: $about-page-text-secondary;
        font-size: 14px;
    }

    @include hover-lift;
}